<%- unless @person.recent_activity.empty? -%>
  <h2><%= _("Recent Activity") %></h2>
  

  <%- unless @person.last_logged_in_at.nil? or current_person?(@person) -%>
    <p class="meta">
    <%= _("%{person} last logged in %{timeago}") % {:person => @person.name,
		:timeago => time_ago_with_ago(@person.last_logged_in_at)} %>
    </p>    
  <%- end -%>
  
  <ul class="list activity full">
     <%= render :partial => 'shared/activity',
                :collection => @person.recent_activity,
                :locals => { :destroy => (current_person? @person) } %>
  </ul>
<%- end -%>
